# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
.eggs/
.pytest_cache/

# Virtual envs
.venv/
venv/
env/

# MkDocs
site/
site-*/
preview-*.yml

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
